/* FoundOps Colors
   Orange - #D9591E
   Red - #991A36
   Blue - #488FCD
   Green - #659A41*/
article.intro, article.intro .entry-content{
	margin:0px;
	padding:0px;
	width:100%;
}
#page, #main, #primary, #content, #article{
	top:0px;
	width:100%;
	margin:0px;
	max-width:none;
}
#main{
	position:relative;
	top:30px;	
}
p{
	margin-bottom: 0px;
}
#team, #advisors, #values, #jobs, #contactUs{
	width:930px;
	margin:0 auto;
	
}
#teamWrapper, #advisorsWrapper, #valuesWrapper, #jobsWrapper, #contactUsWrapper{
	width:100%;
	z-index:-1000;
}
#teamWrapper{
	min-height:1000px;
	background-image:url('images/GreyToCharcoal.png');
	background-repeat:repeat-x;
	background-position:bottom;
}
#advisorsWrapper{
	min-height:1000px;
	padding-bottom:200px;
	background-color:#333335;
	background-image:url('images/CharcoalToGrey.png');
	background-repeat:repeat-x;
	background-position:bottom;
}
#valuesWrapper{
	min-height:1000px;
	padding-bottom:200px;
	background-image:url('images/GreyToCharcoal.png');
	background-repeat:repeat-x;
	background-position:bottom;
}
#jobsWrapper{
	min-height:1200px;
	background-color:#333335;
	background-image:url('images/CharcoalToGrey.png');
	background-repeat:repeat-x;
	background-position:bottom;
}
#contactUsWrapper{
	min-height:800px;
}
/* Side Navigation
-------------------------------------------------------------*/
#navBox{
    position:fixed;
    top:155px;
    width: 930px;
	z-index:100;
	left:0px;
	right:0px;
	margin:0 auto;
	margin-bottom:-100px;
}
#navList li{
    position:relative;
    top:-2px;
    left:-2px;
    width:100px;
    font-size:14px;
    list-style:none;
	text-align:right;
    margin-bottom:0px;
}
#navList{
	margin:0px;
}
#navList li a{
    position:relative;
	margin-left:5px;
	font-size:16px;
}
#navBox a:link, #navBox a:visited{
    color:#aaa;	
}
#navBox a.activeonlight:link, #navBox a.activeonlight:visited{
	font-weight:bold;
	color:#666;
}
#navBox a.activeondark:link, #navBox a.activeondark:visited{
	font-weight:bold;
	color:#fff;
}
#navBox a.notactiveonlight:link, #navBox a.notactiveonlight:visited{
	font-weight:normal;
	color:#aaa;
}
#navBox a.notactiveondark:link, #navBox a.notactiveondark:visited{
	font-weight:normal;
	color:#aaa;
}
#navBox li a.notactiveonlight:hover, #navBox li a.notactiveonlight:active, #navBox li a.notactiveonlight:focus, 
#navBox li a.activeonlight:hover, #navBox li a.activeonlight:active, #navBox li a.activeonlight:focus{
    color:#666;
	text-decoration:none;
}
#navBox li a.notactiveondark:hover, #navBox li a.notactiveondark:active, #navBox li a.notactiveondark:focus, 
#navBox li a.activeondark:hover, #navBox li a.activeondark:active, #navBox li a.activeondark:focus{
    color:#fff;
	text-decoration:none;
}
/* ---------- TEAM ------------ */
#team{
	position:relative;
	top:30px;
}
#authorlist{
	position:relative;
	top:15px;
	left:85px;
	z-index:1000;
}
#authorlist li{
	float: left;
	margin: 0 0 10px 72px;
	list-style:none;
	max-width:204px;
}	
.entry_author_image{
	width: 200px;
	height: 200px;
	border:1px solid #999;
}
.info{
	height:40px;
	padding:10px;
	text-align:center;
	visibility:collapse;
}
.info a{
	font-size:16px;
	font-weight:bold;
}
.hovered .info{
	visibility:visible;
}
#hoveredRed .info a:hover, #hoveredOrange .info a:hover, #hoveredGreen .info a:hover, #hoveredBlue .info a:hover{
	text-decoration:none;
}
#hoveredRed .info a{
	color:#991A36;
}
#hoveredOrange .info a{
	color:#D9591E;
}
#hoveredGreen .info a{
	color:#659A41;
}
#hoveredBlue .info a{
	color:#488FCD;
}
.nothovered .info{
	visibility:collapse;
}
/* ----------- Advisors ---------- */
#advisors{
	position:relative;
	top:50px;
	left:157px;
	width:930px;
	color:#fff;
}
#advisors h1{
	color:#ededed;
	margin-bottom:0px;
}
#advisor1Pic, #advisor2Pic, #advisor3Pic{
	width:200px;
	height:200px;
	margin-bottom:-217px;
	background-repeat:no-repeat;
	border:1px solid #666;	
}
#advisor1Pic{
	background-image:url('images/Steve.png');
	width:200px;
	height:200px;
	margin-bottom:-215px;
}
#advisor2Pic{
	background-image:url('images/Ken.png');
	margin-top:-40px;
}
#advisor3Pic{
	background-image:url('images/Eric.png');
}
.advisorDesc, .advisorDesc2{
	width:580px;
	text-align:justify;
	margin-left:220px;
	margin-bottom:100px;
}
.advisorDesc2{
	margin-bottom:60px;
}
.wrapLeft{
	margin-left:-220px;
	width:800px;
}
/* ----------- Values ---------- */
#values{
	position:relative;
	top:50px;
	left:157px;
	width:930px;
	color:#333335;
}
#values ul{
	margin:0px;
}
#values ul li{
	margin-left:20px;
}
.big{
	margin-top:10px;
	font-size:14px;
	font-weight:bold;
}
#EnvironmentImg, #AccessabilityImg, #CommunityImg, #IntegrityImg{
    position: relative;
	margin-bottom:-213px;
    width: 200px;
    height: 200px;
}
#EnvironmentImg{
	background-image:url('images/Environment.png');
}
#AccessabilityImg{
	margin-left:610px;
	background-image:url('images/Accessability.png');
}
#CommunityImg{
	background-image:url('images/Community.png');
}
#IntegrityImg{
	margin-left:610px;
	background-image:url('images/Integrity.png');
}
#EnvironmentDesc1, #AccessabilityDesc1, #CommunityDesc, #IntegrityDesc{
	position:relative;
	width: 590px;
	text-align:justify;
}
#EnvironmentDesc1{
	margin-left:200px;
}
#EnvironmentDesc2{
	margin-left:-20px;
	margin-bottom:50px;
	width: 820px;
	text-align:justify;
}
#EnvironmentDesc1 .bigText{
	margin-left:20px;
}
#AccessabilityDesc1{
	margin-left:0px;
	margin-bottom:0px;
	margin-top:4px;
}
#AccessabilityDesc2{
	margin-left:0px;
	margin-bottom:50px;
	width: 810px;
	text-align:justify;
}
#AccessabilityDesc1 .bigText{
	margin-left:455px;
}
#IntegrityDesc .bigText{
	margin-left:505px;
}
#AccessabilityDesc1 ul li, #AccessabilityDesc2 ul li{
	margin-left:0px;
}
#CommunityDesc{
	margin-left:220px;
	margin-bottom:120px;
}
#IntegrityDesc{
	margin-bottom:50px;	
}
.bigText{
	font-size:24px;
	font-weight:bold;
}
/* ---------- JOBS ---------- */
#jobs{
	position:relative;
	top:50px;
	left:157px;
	width:930px;
	height:600px;
	color:#fff;
}
#slideShow{
	margin-left:150px;
	margin-bottom:20px;
}
#jobsText{
	font-style:normal;
	font-size:13px;
	width:700px;
	text-align:justify;
}
#jobsText a:link{
	color:#fff;
}
#jobsText a:hover{
	text-decoration:none;
	color:#ccc;
}
/* ---------- Contact Page ---------- */
#contactUs{
	position:relative;
	top:0px;
	left:120px;
}
#info{
    position: relative;
    top: 40px;
    left: -4px;
    font-size: 14px;
    font-family: Verdana;
    color: #333335;
    width: 300px;
}
#info a:link, #info a:visited{
    color: #333335;
    text-decoration: none;
}
#info a:focus, #info a:hover, #info a:active{
    color: #666;
    outline: none;
}
#map{
    position: relative;
    top: -200px;
    left: 525px;
	width:320px;
	height:320px;
    border:1px solid #000;
	padding:0px;
    margin-bottom: -95px;
	background-image:url('images/Map.png');
}
#findUs, #followUs, #viewProfile{
    position: relative;
    top: -148px;
    left: 60px;
	width:118px;
	height:36px;
	font-size:32px;
	text-decoration:none;
	background-image:url('images/findus.png');
	background-repeat:no-repeat;
}
#followUs{
    top: -200px;
    left: 205px;
	width:100px;
	height:36px;
	background-image:url('images/followus.png');
}
#viewProfile{
    top: -252px;
    left: 335px;
	width:160px;
	height:36px;
	background-image:url('images/viewprofile.png');
}