/* FoundOps Colors
   Orange - #D9591E
   Red - #991A36
   Blue - #488FCD
   Green - #659A41*/

#main {
	margin-bottom:0px;
}
#page{
	margin-bottom:0px;
}
article{
	position:relative;
	top:0px;
	width:930px;
	margin:0px;
	padding:0px;
}
.page-id-303 article{
	width:930px;
}
p{
	margin-bottom: 0px;
}

/* ---------- Pricing Page------------ */
#pricingTitle{
	position:relative;
	top:60px;
	width:770px;
	height:110px;
	margin-left:0px;
	margin-bottom:-100px;
	font-size:30px;
	color:#991A36;
	background-image:url('images/PricingTitle2.jpg');
	background-repeat:no-repeat;
}
#plans{
	position:relative;
	top:20px;
	left:320px;
	width:700px;
	height:220px;
	border:none;
	margin-bottom:80px;
}
#plans ul{
	margin:0px;
	width:150px;
}
#plan1, #plan2, #plan3{
	width:150px;
	text-align:center;
	padding:10px;
	padding-top:3px;
	float:left;
	margin-left:5px;
	background-color:#efefef;
	border: 3px solid #659A41;
}
#plan2{
	width:160px;
	height:240px;
	margin-top:-20px;
	border-color:#488FCD;
	background-color:#fff;
}
#plan3{
	border-color:#D9591E;
}
.planTitle{
	font-size:35px;
	font-weight:bold;
	line-height:40px;
}
.planDesc{
	font-size:14px;
	margin-bottom:-5px;
}
.planPrice{
	font-size:50px;
	font-weight:600;
}
.planRate{
	margin-bottom:10px;
}
#plans a{
	border:2px outset #ccc;
	padding:1px 5px 1px 5px;
	color:#333335;
	background-color:#efefef;
}
#plan1 .planTitle{
	color:#659A41;
}
#plan2 .planTitle{
	color:#488FCD;
	font-size:40px;
	line-height:50px;
	margin-bottom:5px;
}
#plan2 .planDesc, #plan2 .planRate{
	font-size:17px;
}
#plan2 .planPrice{
	font-size:60px;
	font-weight:600;
}
#plan2 a{
	font-size:17px;
	background-color:#fff;
}
#plan3 .planTitle{
	color:#D9591E;
}
#plan3 .planDesc{
	margin-bottom:10px;
}
#plan3 .planRate{
	margin-bottom:17px;
}
#plans a:hover{
	text-decoration:none;
	border:2px inset #ccc;
}
/* --------------------- feature list -------------------- */
.AccordionContainer{
	margin-bottom:60px;
	margin-left:140px;
}
.AccordionTitle, .AccordionContent, .AccordionContainer{
	position:relative;
	width:734px;
}
.AccordionTitle{
	height:26px;
	cursor:default;
	border-top:1px solid #666;
}
.AccordionContent{
	padding-left:10px;
	height:0px;
	display:none; 
	border-top:1px solid #666;
}
.AccordionTitle li{
	width:175px;
	height:26px;
	padding-left:10px;
	display:table-cell;
	float:left;
	text-align:center;
	font-size:13px;
}
.AccordionTitle li.column1{
	text-align:left;	
}
.AccordionTitle li.column2, .AccordionTitle li.column3, .AccordionTitle li.column4{
	width:170px;
	border-left:1px solid #666;
}
.AccordionTitle li.column2{
	width:150px;	
}
.AccordionTitle li.column3{
	margin-left:17px;	
}
.AccordionTitle li.column4{
	width:110px;
	margin-left:8px;
	text-align:right;	
}
.AccordionTitle ul{
	margin:0px;
}
.odd{
 	background-color:#fff;
}
#header{
	font-weight:bold;
	background-color:#ddd;
}
#header li{
	width:150px;
}
.check, .check2{
	width:22px;
	height:18px;
	margin-top:2px;
	margin-left:70px;
	background-image:url('images/check.png');
}
.column1{
	text-align:left;	
}
/*--------------Product Page --------------------*/
#VehiclesBar, #DispatcherBar, #EmployeesBar, #ServicesBar, #ClientsBar, #LocationsBar, #PhoneBar{
    position: relative;
    top: 0px;
    left: -5px;
    width: 638px;
    height: 4px;
    border-radius: 2px;
}
#VehiclesBar, #VehiclesBg{
    background-color: #991A36;
}
#DispatcherBar, #DispatcherBg, #ServicesBar{
    background-color: #659A41;
}
#LocationsBar, #LocationsBg, #EmployeesBar{
    background-color: #D9591E;
}
#PhoneBar, #PhoneBg, #ClientsBar{
    background-color: #488FCD;
}
#VehiclesBg, #DispatcherBg, #EmployeesBg, #ServicesBg, #ClientsBg, #LocationsBg, #PhoneBg{
    position: relative;
    left: 0px;
    top: -102px;
    height: 200px;
    width: 200px;
    border-radius: 15px;
}
#EmployeesBg{
	top: -132px;
    background: #D9591E;
}
#ServicesBg{
    background: #659A41;
}
#ClientsBg{
    background: #488FCD;
}
#VehiclesImg, #DispatcherImg, #EmployeesImg, #ServicesImg, #ClientsImg, #LocationsImg, #PhoneImg{
    position: relative;
    left: -3px;
    top: -244px;
    margin-top: -60px;
    width: 198px;
    height: 198px;
	padding:6px;
}
#ServicesImg{
	top: -242px;
}
#EmployeesImg{
	top: -274px;
}
#VehiclesDesc, #DispatcherDesc, #EmployeesDesc, #ServicesDesc, #ClientsDesc, #LocationsDesc, #PhoneDesc{
    position: relative;
    margin-top: -280px;
    top: -165px;
    left: 260px;
    width: 630px;
}
#ClientsDesc, #VehiclesDesc, #DispatcherDesc, #LocationsDesc{
    margin-bottom:100px;
}
#LocationsDesc{
    margin-bottom:80px;
}
#EmployeesDesc{
    top: -195px;
}
/*------End Product Page------*/

/********************* Begin MainlChimp Beta ***********************/
table.container{
	border:2px solid #659A41;
	background-color:#FFFFFF;
}
table.container .chimpContent{
	background-color:#FFFFFF;
	font-family:Arial;
	font-size:12;
	width:700px;
}
table.container p,table.container label,table.container .formText{
	font-family:Arial;
	font-size:12px;
	color:#333333;
	text-align:right;
	padding-left:7px;
}
.alert{
	font-size:20px;
	color:#991A36;
	font-family:Arial;
	font-weight:bold;
}
table.container div.errorText{
	font-size:12px;
	font-family:Arial;
	padding:2px;
	margin:3px;
}
table.container td{
	border:none;
	border-top:1px solid #ccc;
}
table.container label{
	font-weight:normal;
}
table.container .required{
	text-align:right;
	font-size:10px;
}
table.container .formText{
	vertical-align:middle;
	width:110px;
}
table.container .subfield{
	line-height:25px;
	border:none;
}
table.container input{
	background-color:#fff;
	border:1px solid #aaa;
	margin-top:0px;
}
table.container .subfield label{
	font-style:italic;
}
table.container .mergeRow td{
	padding:3px;
}
table.container .subfield td{
	padding:0px;
	border:none;
}
table.container table{
	margin-bottom:0px;
}
table.container .interestgroup_field,table.container .interestgroup_field li,table.container .interestgroup_row{
	margin:0;
	padding:0;
	list-style:none;
}
table.container .required{
	display:inline;
}
table.container .button{
	font-family:'Helvetica', Arial, sans-serif;
	width:auto;
	white-space:nowrap;
	height:32px;
	margin:0;
	padding:0 10px;
	font-weight:bold;
	font-size:15px;
	line-height:32px;
	cursor:pointer;
	border:0;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-border-radius:4px;
	vertical-align:top;
}
table.container .button span{
	display:inline;
	font-family:'Helvetica', Arial, sans-serif;
	text-decoration:none;
	font-weight:bold;
	font-size:15px;
	line-height:32px;
	cursor:pointer;
	border:none;
}
table.container .button:link,table.container .button:active,table.container .button:visited,table.container .button,table.container .button span{
	background-color:#333335;
	color:#ffffff;
}
table.container .button:hover{
	background-color:#444;
	color:#ffffff;
}
table.container input[type=checkbox]{
	-webkit-appearance:checkbox;
	border:none;
}
table.container p,table.container label,table.container .formText{
	font-family:Arial;
	font-size:12px;
	color:#000;
}
table.container a:link,table.container a:active,table.container a:visited,table.container a{
	color:#0000FF;
}
/****************** End MainlChimp Beta**************8******/