
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

# Business Card Redirects
Redirect /apohl http://foundops.com/?author=2
Redirect /jperl http://foundops.com/?author=3
Redirect /zbright http://foundops.com/?author=5
Redirect /oshatken http://foundops.com/?author=4
Redirect /jmahoney http://foundops.com/?author=7
Redirect /pbrown http://foundops.com/?author=8
Redirect /respinosa http://foundops.com/?author=10

# Convention Card Redirects
Redirect /415919 http://foundops.com/customers
Redirect /112091 http://foundops.com/customers
Redirect /317067 http://foundops.com/customers