<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
				<rule name="wordpress" patternSyntax="Wildcard">
					<match url="*" />
						<conditions>
							<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
							<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						</conditions>
					<action type="Rewrite" url="index.php" />
				</rule></rules>
    </rewrite>
  </system.webServer>
    <connectionStrings>
        <add connectionString="server=localhost;database=wordpress;uid=root;pwd=@t3ztSRVRz" name="wordpress" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
