# BEGIN W3TC Minify cache
# END W3TC Minify cache
# BEGIN W3TC Minify core
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /wp-content/w3tc/min/
    RewriteRule ^w3tc_rewrite_test$ index.php?w3tc_rewrite_test=1 [L]
    RewriteCond %{REQUEST_FILENAME}%{ENV:APPEND_EXT} -f
    RewriteRule (.*) $1%{ENV:APPEND_EXT} [L]
    RewriteRule ^(.+\.(css|js))$ index.php?file=$1 [L]
</IfModule>
# END W3TC Minify core
